<div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
          <div class="flex justify-center items-center py-6 md:justify-start space-x-10">
                <!-- Store Name/ Store Logo-->
                <div class="flex justify-start lg:flex-1 truncate">
                      <h1 class="text-2xl font-bold uppercase">
                            {{shop.name}}
                      </h1>
                </div>

                <!-- Navigation Menu-->
                <!-- Cart Button/ Accounts-->
                
      </div>
    </div>

</div>